html {
  box-sizing: border-box;
  font-family: 'Dosis', sans-serif;
}


*, *::before, *::after {
  box-sizing: inherit;
}

.masthead{
  background-image: url("../images/white_mini_waves.png");
  background-size: 50px auto, 50px auto, 200px auto;
  padding-top: 3em;
  background-repeat:no-repeat, no-repeat, repeat;
  background-position: right 50px, left 50px, left top;
  display: block;
  padding-bottom: 3.3em;
}

.beetle-1{
  float: left;
  width: 15%;
  margin: 0.5em;
  padding-top:1em;
}

.beetle-2{
  float: right;
  width: 15%;
  margin: 0.5em;
  padding-top:1em;
}

h1{
  font-weight: bold;
  font-size: 3em;
  text-align: center;
  color: #512200;
  margin: 0;
}

nav{
  float: left;
  overflow: hidden;
  width: 100%;
}

nav li{
  float: left;
  margin: 0;
  width: 25%;
  text-align: center;
  font-weight: bold;
}

ol li{
  font-size: 1em;
  text-decoration: none;
}

nav ol{
  padding: 0;
  margin: 0;
  list-style-type: none;
  overflow: hidden;
}

nav a{
  color: white;
  text-decoration: none;
  font-size: 1.1rem;
  padding: 0.87em;
  text-align: center;
  text-decoration: none;
  background-color: #512200;
  opacity: 0.5;
  display: block;

}

nav li:hover{
  background-color: #512200;
  opacity: 0.8;

}

footer{
  clear:both;
  background-image: url("../images/beetle.svg");
  background-size: 30px auto;
  background-repeat: no-repeat;
  background: rgba(81, 34, 0, 0.5);
}

h2{
padding-top: 7em;
padding-bottom: 1em;
color: #fff;
width: 100%;
text-align: center;
margin: 0;
font-weight: bolder;
}

.left{
  float: left;
  width: 50%;
}

.right{
  float: right;
  width: 50%;
}

.left2{
  clear:both;
  float: left;
  width: 50%;
}

.right2{
  float: right;
  width: 50%;
}

.banner{
  background-image: url("../images/rocks.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  margin: 0;
}

.footer{
  opacity: 0.5;
  padding: 2em;
}

footer{
  background-image: url("../images/beetle.svg");
  background-size: 30px auto;
  background-repeat: no-repeat;
  background-position: center 10px;
  background-color: rgba(81, 34, 0, 0.5);
}

div {
  padding: 0;
  text-align: center;
}

.btn-1{
  display: inline-block;
  padding: 0.5em 0.75em;
  text-decoration: none;
  border-radius:30px;
  color: #fff;
  background-color: #388200;
  background-image: linear-gradient(to bottom, #6fc000, #388200);
  position: absolute;
  z-index: 1000;
  bottom: 2px;
  left: 50px;
}
.btn-2{
  display: inline-block;
  padding: 0.5em 0.75em;
  text-decoration: none;
  border-radius:30px;
  color: #fff;
  background-color: #388200;
  background-image: linear-gradient(to bottom, #6fc000, #388200);
  position: absolute;
  z-index: 1000;
  bottom: 2px;
  left: 50px;
}
.btn-3{
  display: inline-block;
  padding: 0.5em 0.75em;
  text-decoration: none;
  border-radius:30px;
  color: #fff;
  background-color: #388200;
  background-image: linear-gradient(to bottom, #6fc000, #388200);
  position: absolute;
  z-index: 1000;
  bottom: 2px;
  left: 50px;
}
.btn-4{
  display: inline-block;
  padding: 0.5em 0.75em;
  text-decoration: none;
  border-radius:30px;
  color: #fff;
  background-color: #388200;
  background-image: linear-gradient(to bottom, #6fc000, #388200);
  position: absolute;
  z-index: 1000;
  bottom: 2px;
  left: 50px;
}
