html {
  box-sizing: border-box;
  font-family: 'Dosis', sans-serif;
}


*, *::before, *::after {
  box-sizing: inherit;
}

.masthead{
  background-image: url("../images/white_mini_waves.png");
  background-size: 200px auto;
  padding-top: 1em;
  background-repeat:repeat;
  background-position:left top;
  text-align:center;
  padding-bottom: 0em;
}

.beetle-1{
  float: left;
  width: 15%;
  margin: 0.5em;
  padding-top:1em;
}

.beetle-2{
  float: right;
  width: 15%;
  margin: 0.5em;
  padding-top:1em;
}

h1{
      text-align:center;
      position: relative;
      font-family: 'Dosis', sans-serif;
      font-size: 5em;
      font-weight: bold;
      color: #512200;
      }

.btn{
  position: absolute;
text-decoration: none;
color: white;
background-color: #58A601;
background-image: linear-gradient(to bottom, #58A601, #275C00);
display: inline-block;
padding: 0.5em 0.75em;
border-radius: 40px;
left: 9%;
bottom: -43%;
font-family: 'Dosis', sans-serif;
font-size: 32px;
      }
      .btn2{
        text-decoration: none;
color: white;
background-color: #58A601;
background-image: linear-gradient(to bottom, #58A601, #275C00);
display: inline-block;
padding: 0.5em 0.75em;
border-radius: 40px;
position: absolute;
right: 16%;
bottom: -43%;
font-family: 'Dosis', sans-serif;
font-size: 32px;
         }
         .btn3{
           text-decoration: none;
   color: white;
   background-color: #58A601;
   background-image: linear-gradient(to bottom, #58A601, #275C00);
   display: block;
   padding: 0.5em 0.75em;
   border-radius: 40px;
   position: absolute;
   left: 13%;
   bottom: -84%;
   font-family: 'Dosis', sans-serif;
   font-size: 32px;
         }
     .btn4{
       text-decoration: none;
   color: white;
   background-color: #58A601;
   background-image: linear-gradient(to bottom, #58A601, #275C00);
   display: block;
   padding: 0.5em 0.75em;
   border-radius: 40px;
   position: absolute;
   right: 12%;
   bottom: -84%;
   font-family: 'Dosis', sans-serif;
   font-size: 32px;
}
     .btn:hover{
       background-color: #58A601;
     }
     .btn2:hover{
       background-color: #58A601;
     }
     .btn3:hover{
       background-color: #58A601;
     }
     .btn4:hover{
       background-color: #58A601;
     }
nav li{
  list-style-type: none;
  display: inline-block;
  width: 25%;
  text-align: center;
  padding: 1em 1em;
  width: 145px;
}

ol li{
  font-size: 1em;
  text-decoration: none;
}

nav ol{
  padding: 0;
  margin: 0;
  background-color: #512200;
  opacity: 0.5;
  font-weight: bold;
}

a{
  color: white;
  text-decoration: none;
  font-size: 2rem;
}

nav a:hover{
  color: white;
  text-decoration: none;
  font-size: 2em;

}

h2{
padding-top: 7em;
padding-bottom: 1em;
color: #fff;
width: 100%;
text-align: center;
margin: 0;
font-weight: bolder;
font-size: 2em;
}

.left{
  float: left;
  width: 50%;
}

.right{
  float: right;
  width: 50%;
}

.left2{
  clear:both;
  float: left;
  width: 50%;
}

.right2{
  float: right;
  width: 50%;
}

.banner{
  background-image: url("../images/rocks.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  margin: 0;
}

.footer{

  padding: 2em;
  background-image: url("../images/beetle.svg");
  background-size: 50px auto;
  background-repeat: no-repeat;
  background-position: center 10px;
}

footer{
  clear:both;
  background: rgba(81, 34, 0, 0.5);
  width: 100%;
  overflow: hidden;
}
